.flayer-principal  img{
    height: 300px;
    width: 100vw;
}

.card-product{
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}
.card-product:hover{
    box-shadow: 0px -4px 40px -3px rgb(228, 222, 228);
}